.personal-update {
  .name {
    width: 10%;
    max-width: 10%;
  }
  .surname {
    width: 10%;
    max-width: 10%;
  }

  .salary {
    width: 10%;
    max-width: 10%;
  }
  .c_email {
    width: 15%;
    max-width: 15%;
  }
  .c_number {
    width: 15%;
    max-width: 15%;
  }
  .c_name {
    width: 10%;
    max-width: 10%;
  }
  .c_surname {
    width: 10%;
    max-width: 10%;
  }
}
