.medSchedule-update {
  .start {
    width: 10%;
    max-width: 10%;
  }
  .end {
    width: 10%;
    max-width: 10%;
  }
  .p_name {
    width: 20%;
    max-width: 20%;
  }
  .p_duration {
    width: 10%;
    max-width: 10%;
  }
  .p_price {
    width: 10%;
    max-width: 10%;
  }
  .d_name {
    width: 10%;
    max-width: 10%;
  }
  .d_surname {
    width: 10%;
    max-width: 10%;
  }
}
