.schedule-update {
  .breakfast {
    width: 20%;
    max-width: 20%;
  }
  .dinner {
    width: 20%;
    max-width: 20%;
  }
  .supper {
    width: 20%;
    max-width: 20%;
  }
  .day {
    width: 20%;
    max-width: 20%;
  }
}
