.update {
  width: calc(100% - 25px);

  div {
    cursor: pointer;
  }

  .delete {
    padding: 5px 10px;
    color: rgb(244, 21, 58);
    background: white;

    border: 1px solid rgb(244, 21, 58);
    border-radius: 0.5rem;
    transition: 0.3s all ease;
    cursor: pointer;

    &:hover {
      color: white;
      background: rgb(244, 21, 58);
    }
  }
}

.clients-update {
  .name {
    width: 15%;
    max-width: 15%;
  }
  .surname {
    width: 15%;
    max-width: 15%;
  }
  .email {
    width: 20%;
    max-width: 20%;
  }
  .number {
    width: 20%;
    max-width: 20%;
  }
}
