.filters {
  display: flex;
  gap: 15px;

  input {
    padding: 5px 10px;
    border-radius: 0.5rem;
  }
  .search {
    padding: 5px 10px;
    border-radius: 0.5rem;
    color: #fff;
    background: #8cc152;
    cursor: pointer;
  }
}

.logs {
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-size: 0.9rem;
  // border: 1px solid black;
  padding: 10px;

  & > div:not(:last-child) {
    border-bottom: 1px solid black;
  }

  .log {
    padding: 0 0 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;

    div {
      overflow: hidden;
      text-overflow: clip;
    }

    .id {
      width: 5%;
      max-width: 5%;
    }
    .name {
      width: 10%;
      max-width: 10%;
    }
    .surname {
      width: 10%;
      max-width: 10%;
    }
    .email {
      width: 15%;
      max-width: 15%;
    }
    .number {
      width: 15%;
      max-width: 15%;
    }
    .date {
      width: 10%;
      max-width: 10%;
    }
    .amount {
      width: 5%;
      max-width: 5%;
    }
    .type {
      width: 10%;
      max-width: 10%;
    }
    .details {
      width: 20%;
      max-width: 20%;
    }
  }
}
.pagination {
  display: flex;
  gap: 25px;

  a {
    color: black;
    cursor: pointer;
  }
}
