.admin-wrapper {
  width: 100%;
  height: 100%;
  padding: 75px 0 25px 0;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  .content {
    max-height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .overflow {
    max-width: 852px;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .error {
    margin: -75px 0 0 0;
  }
  .withArrows {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
